[user]
	email = mcharron@naoned.fr
	name = Maxime Charron
[push]
	default = current
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status -s
    br = branch -vv
    bra= branch -avv
    ci = commit
    co = checkout
    fpr= !git fetch --prune && git pull --rebase
    df = diff
    a = add -p
    ci-edit = !git commit --amend
    ca = !git commit --amend --no-edit
    cl = clone
[core]
    editor = vim
    fileMode = false
    preloadindex = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:naoned/"]
    insteadOf = naoned://
